<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <title>failed search</title>
        </head>
        <body>
        <h2>failed search</h2>
                <div id="container">
                <div class="form">
                    <form action="/search" method="post">

                        <div id="input-1">
                            <label for="name">Insert EXACT movie name:</label>
                            <input type="text" name="name" id='name' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="div-submit">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>

            </div>
        </body>
    </html>